
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="footer-inner-wrap">
			<div class="menu-wrap">
				<ul class="menu">
					<li><a href="">О нас</a></li>
					<li><a href="">Услуги</a></li>
					<li><a href="">Руководство</a></li>
					<li><a href="">География объектов</a></li>
					<li><a href="">Вакансии</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="contacts-wrap">
				<div class="phone-number">
					<a href="tel:88001231212" class="link-phone">8 800 123 12 12</a>
				</div>
				<div class="phone-action">
					<a href="">Заказать звонок</a>
				</div>
			</div>
		</div>
		<div class="form-wrap">
			<div class="form-title-wrap">
				<div class="form-title">Для ознакомления с нашими услугами вы&nbsp;можете скачать презентацию</div>
				<p>оставьте свои контакты и мы пришлем презентацию</p>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
				<div class="frm-field">
					<input type="email" class="form-input" placeholder="Ваш email">
				</div>
				<div class="frm-field field-button">
					<button type="submit" class="btn">Получить</button>
				</div>
			</div>
		</div>
		<div class="copy-wrap">
			<p>© 2022 Строительная компания Ника</p>
		</div>
	</div>
</footer>
<!-- /footer -->

<div id="popup-callback" class="popup-box">
	<div class="popup-title-wrap">
		<div class="popup-title">У вас возникли вопросы, воспользуйтесь формой обратной связи</div>
		<p>и мы свяжемся с вами в течение 15 минут</p>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<div class="frm-field">
					<input type="text" class="form-input" placeholder="Ваше имя">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<input type="tel" class="form-input" placeholder="Ваш телефон">
				</div>
			</div>
			<div class="frm-row">
				<div class="frm-field">
					<div class="frm-select">
						<input type="checkbox" id="popup">
						<label for="popup">Даю согласие на обработку <a href="">персональных данных</a></label>
					</div>
				</div>
			</div>
			<div class="frm-row-submit">
				<div class="frm-field">
					<button type="submit" class="btn">Отправить</button>
				</div>
				<div class="frm-field">
					<button class="btn button-second js-popup-close">Закрыть</button>
				</div>
			</div>
		</form>
	</div>
</div>